.cursor-outer {
    position: absolute;
    border: 2px solid;
    border-radius: 100%;
    transition: transform 1000ms ease-in-out;
    z-index: 999;
}
    
.cursor-inner {
    position: absolute;
    border-radius: 100%;
    transition: transform 1000ms ease-in-out;
    z-index: 999;
}
    
.cursor-outer, .cursor-inner {
    pointer-events: none;
}